<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="column-filter">
<entry key="filter-type" type="xstring" value="STANDARD"/>
<config key="included_names">
<entry key="array-size" type="xint" value="357"/>
<entry key="0" type="xstring" value="Row0"/>
<entry key="1" type="xstring" value="Row1"/>
<entry key="2" type="xstring" value="Row2"/>
<entry key="3" type="xstring" value="Row3"/>
<entry key="4" type="xstring" value="Row4"/>
<entry key="5" type="xstring" value="Row5"/>
<entry key="6" type="xstring" value="Row6"/>
<entry key="7" type="xstring" value="Row7"/>
<entry key="8" type="xstring" value="Row8"/>
<entry key="9" type="xstring" value="Row9"/>
<entry key="10" type="xstring" value="Row10"/>
<entry key="11" type="xstring" value="Row11"/>
<entry key="12" type="xstring" value="Row12"/>
<entry key="13" type="xstring" value="Row13"/>
<entry key="14" type="xstring" value="Row14"/>
<entry key="15" type="xstring" value="Row15"/>
<entry key="16" type="xstring" value="Row16"/>
<entry key="17" type="xstring" value="Row17"/>
<entry key="18" type="xstring" value="Row18"/>
<entry key="19" type="xstring" value="Row19"/>
<entry key="20" type="xstring" value="Row20"/>
<entry key="21" type="xstring" value="Row21"/>
<entry key="22" type="xstring" value="Row22"/>
<entry key="23" type="xstring" value="Row23"/>
<entry key="24" type="xstring" value="Row24"/>
<entry key="25" type="xstring" value="Row25"/>
<entry key="26" type="xstring" value="Row26"/>
<entry key="27" type="xstring" value="Row27"/>
<entry key="28" type="xstring" value="Row28"/>
<entry key="29" type="xstring" value="Row29"/>
<entry key="30" type="xstring" value="Row30"/>
<entry key="31" type="xstring" value="Row31"/>
<entry key="32" type="xstring" value="Row32"/>
<entry key="33" type="xstring" value="Row33"/>
<entry key="34" type="xstring" value="Row34"/>
<entry key="35" type="xstring" value="Row35"/>
<entry key="36" type="xstring" value="Row36"/>
<entry key="37" type="xstring" value="Row37"/>
<entry key="38" type="xstring" value="Row38"/>
<entry key="39" type="xstring" value="Row39"/>
<entry key="40" type="xstring" value="Row40"/>
<entry key="41" type="xstring" value="Row41"/>
<entry key="42" type="xstring" value="Row42"/>
<entry key="43" type="xstring" value="Row43"/>
<entry key="44" type="xstring" value="Row44"/>
<entry key="45" type="xstring" value="Row45"/>
<entry key="46" type="xstring" value="Row46"/>
<entry key="47" type="xstring" value="Row47"/>
<entry key="48" type="xstring" value="Row48"/>
<entry key="49" type="xstring" value="Row49"/>
<entry key="50" type="xstring" value="Row50"/>
<entry key="51" type="xstring" value="Row51"/>
<entry key="52" type="xstring" value="Row52"/>
<entry key="53" type="xstring" value="Row53"/>
<entry key="54" type="xstring" value="Row54"/>
<entry key="55" type="xstring" value="Row55"/>
<entry key="56" type="xstring" value="Row56"/>
<entry key="57" type="xstring" value="Row57"/>
<entry key="58" type="xstring" value="Row58"/>
<entry key="59" type="xstring" value="Row59"/>
<entry key="60" type="xstring" value="Row60"/>
<entry key="61" type="xstring" value="Row61"/>
<entry key="62" type="xstring" value="Row62"/>
<entry key="63" type="xstring" value="Row63"/>
<entry key="64" type="xstring" value="Row64"/>
<entry key="65" type="xstring" value="Row65"/>
<entry key="66" type="xstring" value="Row66"/>
<entry key="67" type="xstring" value="Row67"/>
<entry key="68" type="xstring" value="Row68"/>
<entry key="69" type="xstring" value="Row69"/>
<entry key="70" type="xstring" value="Row70"/>
<entry key="71" type="xstring" value="Row71"/>
<entry key="72" type="xstring" value="Row72"/>
<entry key="73" type="xstring" value="Row73"/>
<entry key="74" type="xstring" value="Row74"/>
<entry key="75" type="xstring" value="Row75"/>
<entry key="76" type="xstring" value="Row76"/>
<entry key="77" type="xstring" value="Row77"/>
<entry key="78" type="xstring" value="Row78"/>
<entry key="79" type="xstring" value="Row79"/>
<entry key="80" type="xstring" value="Row80"/>
<entry key="81" type="xstring" value="Row81"/>
<entry key="82" type="xstring" value="Row82"/>
<entry key="83" type="xstring" value="Row83"/>
<entry key="84" type="xstring" value="Row84"/>
<entry key="85" type="xstring" value="Row85"/>
<entry key="86" type="xstring" value="Row86"/>
<entry key="87" type="xstring" value="Row87"/>
<entry key="88" type="xstring" value="Row88"/>
<entry key="89" type="xstring" value="Row89"/>
<entry key="90" type="xstring" value="Row90"/>
<entry key="91" type="xstring" value="Row91"/>
<entry key="92" type="xstring" value="Row92"/>
<entry key="93" type="xstring" value="Row93"/>
<entry key="94" type="xstring" value="Row94"/>
<entry key="95" type="xstring" value="Row95"/>
<entry key="96" type="xstring" value="Row96"/>
<entry key="97" type="xstring" value="Row97"/>
<entry key="98" type="xstring" value="Row98"/>
<entry key="99" type="xstring" value="Row99"/>
<entry key="100" type="xstring" value="Row100"/>
<entry key="101" type="xstring" value="Row101"/>
<entry key="102" type="xstring" value="Row102"/>
<entry key="103" type="xstring" value="Row103"/>
<entry key="104" type="xstring" value="Row104"/>
<entry key="105" type="xstring" value="Row105"/>
<entry key="106" type="xstring" value="Row106"/>
<entry key="107" type="xstring" value="Row107"/>
<entry key="108" type="xstring" value="Row108"/>
<entry key="109" type="xstring" value="Row109"/>
<entry key="110" type="xstring" value="Row110"/>
<entry key="111" type="xstring" value="Row111"/>
<entry key="112" type="xstring" value="Row112"/>
<entry key="113" type="xstring" value="Row113"/>
<entry key="114" type="xstring" value="Row114"/>
<entry key="115" type="xstring" value="Row115"/>
<entry key="116" type="xstring" value="Row116"/>
<entry key="117" type="xstring" value="Row117"/>
<entry key="118" type="xstring" value="Row118"/>
<entry key="119" type="xstring" value="Row119"/>
<entry key="120" type="xstring" value="Row120"/>
<entry key="121" type="xstring" value="Row121"/>
<entry key="122" type="xstring" value="Row122"/>
<entry key="123" type="xstring" value="Row123"/>
<entry key="124" type="xstring" value="Row124"/>
<entry key="125" type="xstring" value="Row125"/>
<entry key="126" type="xstring" value="Row126"/>
<entry key="127" type="xstring" value="Row127"/>
<entry key="128" type="xstring" value="Row128"/>
<entry key="129" type="xstring" value="Row129"/>
<entry key="130" type="xstring" value="Row130"/>
<entry key="131" type="xstring" value="Row131"/>
<entry key="132" type="xstring" value="Row132"/>
<entry key="133" type="xstring" value="Row133"/>
<entry key="134" type="xstring" value="Row134"/>
<entry key="135" type="xstring" value="Row135"/>
<entry key="136" type="xstring" value="Row136"/>
<entry key="137" type="xstring" value="Row137"/>
<entry key="138" type="xstring" value="Row138"/>
<entry key="139" type="xstring" value="Row139"/>
<entry key="140" type="xstring" value="Row140"/>
<entry key="141" type="xstring" value="Row141"/>
<entry key="142" type="xstring" value="Row142"/>
<entry key="143" type="xstring" value="Row143"/>
<entry key="144" type="xstring" value="Row144"/>
<entry key="145" type="xstring" value="Row145"/>
<entry key="146" type="xstring" value="Row146"/>
<entry key="147" type="xstring" value="Row147"/>
<entry key="148" type="xstring" value="Row148"/>
<entry key="149" type="xstring" value="Row149"/>
<entry key="150" type="xstring" value="Row150"/>
<entry key="151" type="xstring" value="Row151"/>
<entry key="152" type="xstring" value="Row152"/>
<entry key="153" type="xstring" value="Row153"/>
<entry key="154" type="xstring" value="Row154"/>
<entry key="155" type="xstring" value="Row155"/>
<entry key="156" type="xstring" value="Row156"/>
<entry key="157" type="xstring" value="Row157"/>
<entry key="158" type="xstring" value="Row158"/>
<entry key="159" type="xstring" value="Row159"/>
<entry key="160" type="xstring" value="Row160"/>
<entry key="161" type="xstring" value="Row161"/>
<entry key="162" type="xstring" value="Row162"/>
<entry key="163" type="xstring" value="Row163"/>
<entry key="164" type="xstring" value="Row164"/>
<entry key="165" type="xstring" value="Row165"/>
<entry key="166" type="xstring" value="Row166"/>
<entry key="167" type="xstring" value="Row167"/>
<entry key="168" type="xstring" value="Row168"/>
<entry key="169" type="xstring" value="Row169"/>
<entry key="170" type="xstring" value="Row170"/>
<entry key="171" type="xstring" value="Row171"/>
<entry key="172" type="xstring" value="Row172"/>
<entry key="173" type="xstring" value="Row173"/>
<entry key="174" type="xstring" value="Row174"/>
<entry key="175" type="xstring" value="Row175"/>
<entry key="176" type="xstring" value="Row176"/>
<entry key="177" type="xstring" value="Row177"/>
<entry key="178" type="xstring" value="Row178"/>
<entry key="179" type="xstring" value="Row179"/>
<entry key="180" type="xstring" value="Row180"/>
<entry key="181" type="xstring" value="Row181"/>
<entry key="182" type="xstring" value="Row182"/>
<entry key="183" type="xstring" value="Row183"/>
<entry key="184" type="xstring" value="Row184"/>
<entry key="185" type="xstring" value="Row185"/>
<entry key="186" type="xstring" value="Row186"/>
<entry key="187" type="xstring" value="Row187"/>
<entry key="188" type="xstring" value="Row188"/>
<entry key="189" type="xstring" value="Row189"/>
<entry key="190" type="xstring" value="Row190"/>
<entry key="191" type="xstring" value="Row191"/>
<entry key="192" type="xstring" value="Row192"/>
<entry key="193" type="xstring" value="Row193"/>
<entry key="194" type="xstring" value="Row194"/>
<entry key="195" type="xstring" value="Row195"/>
<entry key="196" type="xstring" value="Row196"/>
<entry key="197" type="xstring" value="Row197"/>
<entry key="198" type="xstring" value="Row198"/>
<entry key="199" type="xstring" value="Row199"/>
<entry key="200" type="xstring" value="Row200"/>
<entry key="201" type="xstring" value="Row201"/>
<entry key="202" type="xstring" value="Row202"/>
<entry key="203" type="xstring" value="Row203"/>
<entry key="204" type="xstring" value="Row204"/>
<entry key="205" type="xstring" value="Row205"/>
<entry key="206" type="xstring" value="Row206"/>
<entry key="207" type="xstring" value="Row207"/>
<entry key="208" type="xstring" value="Row208"/>
<entry key="209" type="xstring" value="Row209"/>
<entry key="210" type="xstring" value="Row210"/>
<entry key="211" type="xstring" value="Row211"/>
<entry key="212" type="xstring" value="Row212"/>
<entry key="213" type="xstring" value="Row213"/>
<entry key="214" type="xstring" value="Row214"/>
<entry key="215" type="xstring" value="Row215"/>
<entry key="216" type="xstring" value="Row216"/>
<entry key="217" type="xstring" value="Row217"/>
<entry key="218" type="xstring" value="Row218"/>
<entry key="219" type="xstring" value="Row219"/>
<entry key="220" type="xstring" value="Row220"/>
<entry key="221" type="xstring" value="Row221"/>
<entry key="222" type="xstring" value="Row222"/>
<entry key="223" type="xstring" value="Row223"/>
<entry key="224" type="xstring" value="Row224"/>
<entry key="225" type="xstring" value="Row225"/>
<entry key="226" type="xstring" value="Row226"/>
<entry key="227" type="xstring" value="Row227"/>
<entry key="228" type="xstring" value="Row228"/>
<entry key="229" type="xstring" value="Row229"/>
<entry key="230" type="xstring" value="Row230"/>
<entry key="231" type="xstring" value="Row231"/>
<entry key="232" type="xstring" value="Row232"/>
<entry key="233" type="xstring" value="Row233"/>
<entry key="234" type="xstring" value="Row234"/>
<entry key="235" type="xstring" value="Row235"/>
<entry key="236" type="xstring" value="Row236"/>
<entry key="237" type="xstring" value="Row237"/>
<entry key="238" type="xstring" value="Row238"/>
<entry key="239" type="xstring" value="Row239"/>
<entry key="240" type="xstring" value="Row240"/>
<entry key="241" type="xstring" value="Row241"/>
<entry key="242" type="xstring" value="Row242"/>
<entry key="243" type="xstring" value="Row243"/>
<entry key="244" type="xstring" value="Row244"/>
<entry key="245" type="xstring" value="Row245"/>
<entry key="246" type="xstring" value="Row246"/>
<entry key="247" type="xstring" value="Row247"/>
<entry key="248" type="xstring" value="Row248"/>
<entry key="249" type="xstring" value="Row249"/>
<entry key="250" type="xstring" value="Row250"/>
<entry key="251" type="xstring" value="Row251"/>
<entry key="252" type="xstring" value="Row252"/>
<entry key="253" type="xstring" value="Row253"/>
<entry key="254" type="xstring" value="Row254"/>
<entry key="255" type="xstring" value="Row255"/>
<entry key="256" type="xstring" value="Row256"/>
<entry key="257" type="xstring" value="Row257"/>
<entry key="258" type="xstring" value="Row258"/>
<entry key="259" type="xstring" value="Row259"/>
<entry key="260" type="xstring" value="Row260"/>
<entry key="261" type="xstring" value="Row261"/>
<entry key="262" type="xstring" value="Row262"/>
<entry key="263" type="xstring" value="Row263"/>
<entry key="264" type="xstring" value="Row264"/>
<entry key="265" type="xstring" value="Row265"/>
<entry key="266" type="xstring" value="Row266"/>
<entry key="267" type="xstring" value="Row267"/>
<entry key="268" type="xstring" value="Row268"/>
<entry key="269" type="xstring" value="Row269"/>
<entry key="270" type="xstring" value="Row270"/>
<entry key="271" type="xstring" value="Row271"/>
<entry key="272" type="xstring" value="Row272"/>
<entry key="273" type="xstring" value="Row273"/>
<entry key="274" type="xstring" value="Row274"/>
<entry key="275" type="xstring" value="Row275"/>
<entry key="276" type="xstring" value="Row276"/>
<entry key="277" type="xstring" value="Row277"/>
<entry key="278" type="xstring" value="Row278"/>
<entry key="279" type="xstring" value="Row279"/>
<entry key="280" type="xstring" value="Row280"/>
<entry key="281" type="xstring" value="Row281"/>
<entry key="282" type="xstring" value="Row282"/>
<entry key="283" type="xstring" value="Row283"/>
<entry key="284" type="xstring" value="Row284"/>
<entry key="285" type="xstring" value="Row285"/>
<entry key="286" type="xstring" value="Row286"/>
<entry key="287" type="xstring" value="Row287"/>
<entry key="288" type="xstring" value="Row288"/>
<entry key="289" type="xstring" value="Row289"/>
<entry key="290" type="xstring" value="Row290"/>
<entry key="291" type="xstring" value="Row291"/>
<entry key="292" type="xstring" value="Row292"/>
<entry key="293" type="xstring" value="Row293"/>
<entry key="294" type="xstring" value="Row294"/>
<entry key="295" type="xstring" value="Row295"/>
<entry key="296" type="xstring" value="Row296"/>
<entry key="297" type="xstring" value="Row297"/>
<entry key="298" type="xstring" value="Row298"/>
<entry key="299" type="xstring" value="Row299"/>
<entry key="300" type="xstring" value="Row300"/>
<entry key="301" type="xstring" value="Row301"/>
<entry key="302" type="xstring" value="Row302"/>
<entry key="303" type="xstring" value="Row303"/>
<entry key="304" type="xstring" value="Row304"/>
<entry key="305" type="xstring" value="Row305"/>
<entry key="306" type="xstring" value="Row306"/>
<entry key="307" type="xstring" value="Row307"/>
<entry key="308" type="xstring" value="Row308"/>
<entry key="309" type="xstring" value="Row309"/>
<entry key="310" type="xstring" value="Row310"/>
<entry key="311" type="xstring" value="Row311"/>
<entry key="312" type="xstring" value="Row312"/>
<entry key="313" type="xstring" value="Row313"/>
<entry key="314" type="xstring" value="Row314"/>
<entry key="315" type="xstring" value="Row315"/>
<entry key="316" type="xstring" value="Row316"/>
<entry key="317" type="xstring" value="Row317"/>
<entry key="318" type="xstring" value="Row318"/>
<entry key="319" type="xstring" value="Row319"/>
<entry key="320" type="xstring" value="Row320"/>
<entry key="321" type="xstring" value="Row321"/>
<entry key="322" type="xstring" value="Row322"/>
<entry key="323" type="xstring" value="Row323"/>
<entry key="324" type="xstring" value="Row324"/>
<entry key="325" type="xstring" value="Row325"/>
<entry key="326" type="xstring" value="Row326"/>
<entry key="327" type="xstring" value="Row327"/>
<entry key="328" type="xstring" value="Row328"/>
<entry key="329" type="xstring" value="Row329"/>
<entry key="330" type="xstring" value="Row330"/>
<entry key="331" type="xstring" value="Row331"/>
<entry key="332" type="xstring" value="Row332"/>
<entry key="333" type="xstring" value="Row333"/>
<entry key="334" type="xstring" value="Row334"/>
<entry key="335" type="xstring" value="Row335"/>
<entry key="336" type="xstring" value="Row336"/>
<entry key="337" type="xstring" value="Row337"/>
<entry key="338" type="xstring" value="Row338"/>
<entry key="339" type="xstring" value="Row339"/>
<entry key="340" type="xstring" value="Row340"/>
<entry key="341" type="xstring" value="Row341"/>
<entry key="342" type="xstring" value="Row342"/>
<entry key="343" type="xstring" value="Row343"/>
<entry key="344" type="xstring" value="Row344"/>
<entry key="345" type="xstring" value="Row345"/>
<entry key="346" type="xstring" value="Row346"/>
<entry key="347" type="xstring" value="Row347"/>
<entry key="348" type="xstring" value="Row348"/>
<entry key="349" type="xstring" value="Row349"/>
<entry key="350" type="xstring" value="Row350"/>
<entry key="351" type="xstring" value="Row351"/>
<entry key="352" type="xstring" value="Row352"/>
<entry key="353" type="xstring" value="Row353"/>
<entry key="354" type="xstring" value="Row354"/>
<entry key="355" type="xstring" value="Row355"/>
<entry key="356" type="xstring" value="Row356"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="0"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value=""/>
<entry key="type" type="xstring" value="Wildcard"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
<config key="datatype">
<config key="typelist">
<entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
</config>
</config>
</config>
<entry key="delimiter" type="xstring" value=","/>
<entry key="is_quoting" type="xboolean" value="true"/>
<entry key="quote_char" type="xchar" value="&quot;"/>
<entry key="is_quoting_always" type="xboolean" value="true"/>
<entry key="new_column_name" type="xstring" value="combinedstring"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.colcombine2.ColCombine2NodeFactory"/>
<entry key="node-name" type="xstring" value="Column Combiner"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-bundle-version" type="xstring" value="3.1.1.v201601211102"/>
<entry key="node-feature-name" type="xstring" isnull="true" value=""/>
<entry key="node-feature-symbolic-name" type="xstring" isnull="true" value=""/>
<entry key="node-feature-vendor" type="xstring" isnull="true" value=""/>
<entry key="node-feature-version" type="xstring" value="0.0.0"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Column Combiner"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 1, Cols: 1"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
